.customCard {
  border: #673AB7 3px solid;
  padding: 20px;
  margin: 20px;
  max-width: 600px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16), 0px 3px 10px rgba(0, 0, 0, 0.23);
  font-family: Roboto;
}

.header {
  padding-bottom: 20px;
  color: #673AB7;
}
.subHeader {
  padding-left: 30px;
  padding-bottom: 30px;
  color: #898080;
}
.teamCard {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  color: #454242;
}
.signButton{
  margin-top: 20px;
  margin-bottom: 20px;
  align: center;
}
.notificationColor {
  color: red;
}
.alignRow {
  padding-top: 10px;
}
.addButton {
  padding: 20px;
  color: #1fbfbf;
}
.cursorClickable {
  cursor: pointer;
}
